* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-gray-light: rgba(255, 255, 255, 0.3);
  --color-gray-super-light: rgba(255, 255, 255, 0.1);
  --color-black: #000000;
  --text-blue: #070b33;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.49vh;
  color: var(--color-white);
  background-color: var(--color-black);
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 760px;
  background: url("./images/bg375/bg@2x.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 1.1rem;
}

.modal {
  width: 100%;
  padding: 3.6rem 2.45rem 0 2.4rem;
}

.modal__close {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-left: -1.5px;
}

.modal__close-line1,
.modal__close-line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-gray-light);
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__content {
  width: 100%;
  margin-top: 6.68rem;
}

.modal__title {
  font-size: 4.18rem;
  text-align: center;
  line-height: 4.5rem;
  letter-spacing: 0.06rem;
}

.modal__features {
  margin-top: 4.2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

.modal__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 13.88rem;
  width: 10.7rem;
  border-radius: 1.08rem;
  padding: 1rem 0.4rem 1.1rem 0.75rem;
}

.modal__features-image_first {
  background: url("./images/features/f1@3x.jpg") no-repeat center center;
  background-size: 102%;
}

.modal__features-image_second {
  background: url("./images/features/f2@3x.jpg") no-repeat center center;
  background-size: 101%;
}

.modal__features-image_third {
  background: url("./images/features/f3@3x.jpg") no-repeat center center;
  background-size: 102%;
}

.modal__descr {
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
}

.modal__offers {
  width: 100%;
  margin-top: 4.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.offers__offer {
  width: 100%;
  height: 5.6rem;
  border-radius: 3.2rem;
  display: flex;
  padding-left: 2.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-super-light);
  padding-top: 0.2rem;
}

.offers__label {
  position: absolute;
  top: -1.1rem;
  right: 2.3rem;
  height: 2rem;
  padding: 0.2rem 2.3rem 0.3rem 2.3rem;
  letter-spacing: 0.001rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 1rem;
}

.offers__text {
  display: flex;
  align-items: center;
  width: 100%;
}

.offers__best {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.offers__access-wrapper {
  width: 59%;
}

.offers__title {
  padding-left: 2px;
  text-transform: uppercase;
  font-weight: 300;
}
.offers__price {
  letter-spacing: 0.0001rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.offers__title,
.offers__price {
  font-size: 1.6rem;
}

.offers__price_week {
  font-weight: 100;
}

.offers__offer_selected {
  background-color: var(--color-gray-light);
  border: 0.1rem solid var(--color-white);
  position: relative;
}

.offers__btn {
  width: 100%;
  height: 5.6rem;
  padding: 1.3rem;
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: bolder;
  background-color: var(--color-white);
  color: var(--text-blue);
  border-radius: 3.2rem;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.offers__btn:hover {
  transform: scale(1.05);
}

.offers__btn:active {
  transform: scale(0.95);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 3.4rem;
  padding-left: 0.2rem;
}

.footer__link {
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--color-gray-light);
  text-decoration: none;
}

.loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

[lang="de"] {
  .offers__offer:nth-of-type(2) .offers__title {
    font-size: 1.3rem;
  }

  .footer {
    gap: 1rem;
  }

  .footer__link {
    font-size: 1.1rem;
  }
}
[lang="ja"] {
  .modal__title {
    font-size: 3.18rem;
  }

  .modal__descr {
    font-size: 0.8rem;
  }

  .offers__best {
    gap: 0;
  }

  .offers__offer:nth-of-type(1) .offers__price:nth-of-type(2) {
    font-size: 1.4rem;
  }

  .footer__link {
    font-size: 1rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .main {
    background: url("./images/bg375/bg@3x.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) {
}

@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation: portrait) {
  html,
  body {
    font-size: 1.184vh;
  }
  .main {
    background: url("./images/bg390/bg@3x.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 3rem;
  }

  .modal {
    padding: 7rem 2.4rem 0 2.4rem;
  }

  .modal__title {
    font-size: 4.2rem;
  }

  .modal__close {
    width: 1.7rem;
    height: 1.7rem;
  }

  .modal__content {
    margin-top: 15.2rem;
  }

  .modal__features-image_first {
    background-size: 109%;
  }

  .modal__features {
    gap: 1.4rem;
    margin-top: 4.3rem;
  }

  .modal__offers {
    margin-top: 5rem;
  }

  .offers__offer {
    padding-top: 0rem;
  }

  .offers__label {
    top: -1.1rem;
    right: 2.3rem;
    padding: 0.15rem 2.3rem;
  }

  .offers__text {
    gap: 0.1rem;
  }

  .offers__access-wrapper {
    width: 61%;
  }

  .offers__price_week {
    padding-left: 0rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 100;
  }

  .offers__btn {
    margin-top: 0.8rem;
  }

  [lang="de"] {
    .modal__content {
      margin-top: 10.7rem;
    }

    .footer__link {
      font-size: 1.1rem;
    }
  }
  [lang="fr"] {
    .modal__content {
      margin-top: 10.7rem;
    }

    .footer {
      gap: 1rem;
    }

    .footer__link {
      font-size: 1.3rem;
    }
  }
}
@media only screen and (min-device-width: 430px) and (min-device-height: 812px) and (orientation: portrait) {
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  [lang="de"] {
    .modal__content {
      margin-top: 2.2rem;
    }
  }
  [lang="fr"] {
    .modal__content {
      margin-top: 2.2rem;
    }
    .offers__best {
      gap: 0.5rem;
    }
    .offers__offer:nth-of-type(1) .offers__price:nth-of-type(2) {
      font-size: 1.5rem;
    }
    .offers__offer:nth-of-type(2) .offers__title {
      font-size: 1.4rem;
    }
    .footer__link {
      font-size: 1.2rem;
    }
    .footer {
      gap: 1rem;
    }
  }
}
