* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-gray-light: rgba(255, 255, 255, 0.3);
  --color-gray-super-light: rgba(255, 255, 255, 0.1);
  --color-black: #000000;
  --text-blue: #070b33;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.small-font {
  font-size: 9.5px;
}

.medium-font {
  font-size: 11px;
}

.large-font {
  font-size: 12px;
}
.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 760px;
  background: url("./images/bg375/bg@2x.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 0.9rem;
}
.modal {
  width: 100%;
  padding: 3.3rem 2.2rem 0 2.2rem;
}
.modal__content {
  width: 100%;
  margin-top: 6rem;
}
.modal__title {
  font-size: 3.9rem;
  text-align: center;
  line-height: 4.2rem;
}
.modal__features {
  margin-top: 3.7rem;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}
.modal__images {
  gap: 7px;
  margin-top: 3.6rem;
}
.modal__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 12.8rem;
  width: 10.4rem;
  border-radius: 1.08rem;
  padding: 1.3rem 0.7rem;
}
.modal__image_first,
.modal__image_second,
.modal__image_third {
  width: 10rem;
  height: 13.5rem;
}

.modal__offers {
  width: 100%;
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
}

.offers__offer {
  width: 100%;
  height: 5rem;
  padding: 1.2rem 2rem;
  border-radius: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-super-light);
}

.offers__label {
  position: absolute;
  top: -1.3rem;
  right: 2.2rem;
  padding: 0.3rem 1.9rem;
  font-size: 1.1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 1rem;
  font-weight: 700;
}
.offers__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.offers__best {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.offers__price_week {
  width: 40%;
  padding-left: 7px;
}

.offers__btn {
  font-size: 1.8rem;
  padding: 1.3rem 1.5rem;
  margin-top: 0.2rem;
}
.modal__close {
  position: relative;
  width: 1.3rem;
  height: 1.2rem;
  display: inline-block;
}

.modal__close-line1,
.modal__close-line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-gray-light);
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__descr {
  font-size: 1rem;
  font-weight: 300;
}

.modal__features-image_first {
  background: url("./images/features/f1@3x.jpg") no-repeat center center;
  background-size: 104%;
}

.modal__features-image_second {
  background: url("./images/features/f2@3x.jpg") no-repeat center center;
  background-size: 104%;
}

.modal__features-image_third {
  background: url("./images/features/f3@3x.jpg") no-repeat center center;
  background-size: 104%;
}

.offers__offer_selected {
  background-color: var(--color-gray-light);
  border: 0.1rem solid var(--color-white);
  position: relative;
}

.offers__title,
.offers__price {
  font-size: 1.4rem;
}
.offers__title {
  padding-left: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

.offers__price {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.offers__per-week {
  display: block;
}

.offers__btn {
  width: 100%;
  padding: 1.3rem;
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: bolder;
  background-color: var(--color-white);
  color: var(--text-blue);
  border-radius: 3.2rem;
  border: none;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.offers__btn:hover {
  transform: scale(1.05);
}

.offers__btn:active {
  transform: scale(0.95);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
  padding-left: 5px;
}

.footer__link {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--color-gray-light);
  text-decoration: none;
}

.loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .main {
    background: url("./images/bg375/bg@3x.jpg") no-repeat center center;
    background-size: cover;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) {
  .small-font {
    font-size: 11.5px;
  }

  .medium-font {
    font-size: 13px;
  }
  .footer {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation: portrait) {
  .main {
    background: url("./images/bg390/bg@3x.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 2.8rem;
  }
  .modal {
    padding: 6.6rem 2.2rem 0 2.1rem;
  }
  .modal__content {
    margin-top: 13.8rem;
  }
  .modal__title {
    font-size: 3.9rem;
    line-height: 4.3rem;
  }
  .modal__features {
    gap: 1.4rem;
  }
  .modal__offers {
    margin-top: 4.4rem;
  }
  .offers__offer {
    height: 4.9rem;
    padding: 0.1rem 2.1rem;
  }
  .offers__label {
    top: -1.2rem;
    right: 2.2rem;
    font-size: 1.2rem;
    padding: 0.15rem 1.6rem;
  }
  .offers__text {
    gap: 0.1rem;
  }
  .offers__best {
    width: 65%;
  }
  .offers__price_week {
    width: 34%;
    padding-left: 0;
  }
  .offers__title,
  .offers__price {
    font-size: 1.47rem;
  }
  .offers__btn {
    margin-top: 1rem;
  }
}
@media only screen and (min-device-width: 430px) and (min-device-height: 812px) and (orientation: portrait) {
  .small-font {
    font-size: 11px;
  }
  .medium-font {
    font-size: 12px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
